@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #070707;
  color: white;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background-color: #4343432d;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-track-piece {
  border-radius: 10px;
}
